<div class="jumbotron">
  <h1 class="cool-font">Pinteresting, isn't it?</h1>
  <br/>
  <div class: "form-horizontal", role: "form">
    <div class="form-group">
      <%= form_for '#' do |f| %>
      <%= f.label :email, class: "sr-only" %>
      <%= f.text_field :email, placeholder: "Enter your email", class: "form-control input_field" %>
      <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
    <% end %>
    </div>
  </div>
</div>